header {
    min-height: 100vh;
    padding-top: 60px;
    position: relative;
    background: url('../assets/background.png') scroll no-repeat $backgroundColor 240% 25%;
    .headerContent {
        position: absolute;
        right: 10%;
        .intro {
            h1 {
                text-transform: uppercase;
                color: $secondContentColor;
                font-size: 14rem;
                letter-spacing: 5px;
                text-shadow: 10px 0px $firstContentColor;
            }
            h2 {
                text-transform: lowercase;
                font-size: 8.5rem;
                letter-spacing: 5px;
                color: $secondLightAccentContentColor;
                text-shadow: 8px 0px $firstLightAccentContentColor;
                span {
                    width: 100%;
                    display: table;
                }
            }
            p {
                font-size: 4.5rem;
                text-transform: lowercase;
                color: $firstContentColor;
            }
            .lowerText {
                margin-top: 20px;
            }
        }
        nav {
            margin-top: 20px;
            ul {
                li {
                    font-size: 2.5rem;
                    line-height: 2;
                    text-transform: uppercase;
                    a {
                        color: $firstContentColor;
                        text-shadow: 0px 0px transparent;
                        transition: 0.3s all ease;
                    }
                    i {
                        margin-right: 5px;
                        rotate: 30deg;
                        transition: 0.3s all ease;
                    }
                    a:hover, a:focus {
                        font-size: 3rem;
                        text-shadow: 3px 0px $thirdAccentColor;
                        i {
                            rotate: 100deg;
                        }
                    }
                    a:active {
                        color: $firstLightAccentContentColor;
                        text-shadow: 2px 0px $thirdAccentColor;
                    }
                }
            }
        }
        .toContent {
            margin-top: 25px;
            p {
                font-size: 3rem;
                font-family: $accentFont;
                transition: 0.3s all ease;
                text-transform: uppercase;
            }
            @keyframes bounce {
                0%, 20%, 50%, 80%, 100% {
                    transform: translateY(0px);
                }
                40% {
                    transform: translateY(-10px);
                }
                60% {
                    transform: translateY(-2px);
                }
            }
            .bounce {
                animation: bounce 2s infinite;
            }
            a {
                color: $firstContentColor;
                text-shadow: 2px 0px $thirdAccentColor;
                display: flex;
                flex-direction: column;
                align-items: center;
                transition: 0.3s ease all;
            }
            a:hover {
                p {
                    font-size: 3.5rem;
                    text-shadow: 4px 0px $thirdAccentColor;
                }
            }
        }
    }
}