// fonts
$contentFont: 'Space Mono', monospace;
$accentFont: 'Freckle Face', cursive;

// colors
$firstContentColor: #480F7C;
$secondContentColor: #B71154;
$firstLightAccentContentColor: #6D4190;
$secondLightAccentContentColor: #C73F75;
$backgroundColor: #FAD30A;