// fonts
$contentFont: 'Montserrat', sans-serif; 
$accentFont: 'Chelsea Market', cursive;

// colors
$firstContentColor: #480F7C;
$secondContentColor: #B71154;
$firstLightAccentContentColor: #6D4190;
$secondLightAccentContentColor: #C73F75;
$thirdAccentColor: #01ed6e;
$backgroundColor: #FAD30A;